footer
	div.footer-container#footer
		div.logo-wrapper#footer-logo
			img.footer-logo(src='/images/folded-newspaper.png')
		div.text-wrapper
			p.first-text © 2018 Cable News Network. Turner Broadcasting System, Inc. All Rights Reserved.
			p.second-text CNN Sans ™ & © 2016 Cable News Network.
		