head
	nav.navigation-container#navigation
		div.nav
			li.navigation-logo#navigation-logo
				a(href="http://localhost:3000")
					img.web-logo#web-logo(src="/images/folded-newspaper.png")
			ul.nav-list#nav-list
				li.headline-info.nav-link 
					a.headline-link(href='http://localhost:3000/headlines') Headlines
						img.headline-image(href='')
				li.sports-info.nav-link
					a.sports-link(href='http://localhost:3000/sports') Sports 
						img.sports-image(href='')
				li.stocks-info.nav-link
					a.stocks-info(href='http://localhost:3000/stocks') Stock Information
						img.stocks-image(href='')

